# Frontend should talk to API Gateway only
VITE_API_URL=http://localhost:8080
VITE_ORDER_API_URL=http://localhost:8080

# Google Maps
VITE_GOOGLE_MAPS_PLATFORM_KEY=
VITE_GOOGLE_MAPS_MAP_ID=

# Firebase web config
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

VITE_WHATSAPP_NUMBER=254700000000
